<%= render partial: 'shared/header' %>

<div class="columns">
  <div class="column is-three-quarters">
    <%= month_calendar events: @trainings do |date, trainings| %>
      <%= date.day %>
      <% trainings.each do |training| %>
        <div>
          <%= link_to training.title, training_path(training.id) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="column">
    <div class="field">
        <%= form_with model: @user, url: "/posts", method: :post, local: true do |f|%>
          <label class="label">タイトル</label>
          <%= f.text_field :title, placeholder: "例: 脚トレ" %>
          <label class="label">トレーニング内容</label>
          <%= f.text_area :content, placeholder: "例: レッグレイズ 10回"%>
          <label class="label">トレーニングをした日</label>
          <%= f.date_select :start_time%>
          <%= f.submit '記録する'%>
        <% end %>
    </div>
  </div>
</div>